---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1 class="text-left p-12 font-bebas-neue text-4xl">breakfast</h1>

    <a
      href="./"
      class="fixed bottom-2 font-oswald left-12 hover:text-[#66A182] hover:font-bold"
      >home</a
    >
    <a
      href="./lunch"
      class="fixed bottom-2 font-oswald right-12 hover:text-[#66A182] hover:font-bold"
      >next</a
    >
  </main>
</Layout>
